@charset "utf-8";
/* CSS Document */

.dash-tile{
	
	
	width:100%;
	text-align:center;
}

.dash-tile a{
	color:#ccc;
	font-weight:bold;
	text-transform:uppercase;
	background:#e74634;
	padding:90px 0;
	display:block;
}

.dash-tile a:hover{
	background:rgba(166,16,30,1);
	background:#b52819;
}

